# dependencies
node_modules/

# next
.next/
out/

# env
.env
.env.local
.env.*.local

# system
.DS_Store

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build cache
tsconfig.tsbuildinfo

# local vercel
.vercel/

# archives are local-only
archive/

# misc local backups
*.bak
*backup*
*.backup*
